.root {
     -fx-background-image: url("welcome.jpg");
}

#new-book {
 	-fx-font-size: 24px;
	-fx-font-family: "Courier New";
	-fx-fill: #fff;
	-fx-font-style: normal;
    -fx-font-variant-ligatures: normal;
    -fx-font-variant-caps: normal;
    -fx-font-variant-numeric: normal;
    -fx-font-weight: 700;
    -fx-font-stretch: normal;
    -fx-line-height: 24px;
   	-fx-letter-spacing: 4.8px;
   	-fx-text-transform: uppercase;
}